.rz-navigation-item,.rz-navigation-item-wrapper, .rz-panel-menu {
    background-color: white !important;
    color: black !important;
}

.rz-navigation-item-wrapper:hover {
    background-color: lightgrey !important;
}

.rz-steps-buttons {
    display: none;
}

.rz-selectbutton {
    width: 100%;
}

.rz-selectbutton .rz-button {
    width: 100%;
    text-align: center;
}

.skillSelect .rz-button{
    padding: 0px;
    width: 50%;
}

.rz-selectbutton .rz-button {
    display: block !important;
}
