@page "/"

<PageTitle>Startpage</PageTitle>

<h1>Hello Adventurer!</h1>

Start <a href="createcharacter">Creating a Character</a> or just reading about <a href="classes">Classes</a>, <a href="classes">Races</a> and so on.


