@page "/race/{RaceName}"
@using Model.Entities
@using Domain.Repositories.Interfaces
@inject IRaceRepository _raceRepository;

<DataInitializer Data="Race">
    <ChildComponent>
        <RaceData Race="Race"></RaceData><hr/><br/>
        @if (Race.SubRaces.Count > 0) {
            <h2>Subraces</h2>
            <hr/>
            foreach (var subrace in Race.SubRaces) {
                <RaceData Race="subrace"></RaceData>
                <br/>
            }
        }
    </ChildComponent>
</DataInitializer>

@code {

    [Parameter]
    public string RaceName { get; set; }

    [Parameter]
    public Race? Race { get; set; }

    protected override async Task OnParametersSetAsync() {
        @if (Race is null) {
            Race = await _raceRepository.ReadGraphAsync(RaceName);
        }
    }
}