@page "/backgrounds"
@using Model.Entities
@using Domain.Repositories.Interfaces
@inject IRepository<Background> _backgroundRepository;
@inject NavigationManager _navigationManager;

<div class="row w-50 m-auto">
    <h1>Backgrounds</h1>
    <hr style="height: 3px;"/>
</div>

<DataInitializer Data="BackgroundList">
    <ChildComponent Context="backgrounds">
        <div class="row w-50 m-auto">
            @foreach (var b in backgrounds) {
                <div class="col-md-4 p-1">
                    <RadzenCard style="cursor: pointer;" class="h-100" @onclick="@(_ => _navigationManager.NavigateTo($"/backgrounds/{b.Name}"))">
                        <h2 class="m-0">@b.Name</h2><hr/>
                        <div>
                            <b>Skill Proficiencies:</b><br/>@b.SkillProficiencies
                        </div>
                    </RadzenCard>
                </div>
            }
        </div>
    </ChildComponent>
</DataInitializer>

@code {
    private List<Background>? BackgroundList { get; set; }

    protected override async Task OnInitializedAsync() {
        BackgroundList = await _backgroundRepository.ReadAsync();
    }

}