@page "/classes"
@using Model.Entities
@using Domain.Repositories.Interfaces
@using Domain.Extensions
@inject IClassRepository _classRepo
@inject NavigationManager _navigationManager;

<div class="row w-50 m-auto">
    <h1>Classes</h1>
    <hr style="height: 3px;"/>
</div>


<DataInitializer Data="ClassesList">
    <div class="row w-50 m-auto">
        @foreach (var c in ClassesList) {
            <div class="col-md-4 p-1">
                <RadzenCard Style="cursor: pointer;" class="h-100" @onclick="@(_ => _navigationManager.NavigateTo($"/classes/{c.Name}"))">
                    <h2 class="m-0">@c.Name</h2><hr/>
                    <div>
                        <b>HitDie: </b> @(c.HitDie)
                    </div>
                    <div>
                        <b>Saves: </b> @String.Join(" & ", c.AbilityNames.Select(a => a.Name.FirstCharToUpper()))
                    </div>
                </RadzenCard>
            </div>
        }
    </div>
</DataInitializer>

@code {
    private List<Class>? ClassesList { get; set; }

    protected override async Task OnInitializedAsync() {
        ClassesList = await _classRepo.ReadGraphAsync();
    }

}