@using Model.Entities
@typeparam TData

@if (Data is null) {
    <span></span>
}
else {
    @ChildComponent(Data)
}

@code {
    [Parameter]
    public RenderFragment<TData> ChildComponent { get; set; }

    [Parameter]
    public TData Data { get; set; }
}