@using Microsoft.AspNetCore.Mvc
@inject NavigationManager _navigationManager;
@using Microsoft.AspNetCore.Identity
@using Model.Entities
@attribute [IgnoreAntiforgeryToken]
@inject SignInManager<ApplicationUser> signInManager


<div>
    <AuthorizeView>
        <Authorized>
            <RadzenMenu>
                <RadzenMenuItem Text="Game Rules" Icon="home" Style="z-index: 999999;">
                    <RadzenMenuItem Text="Classes" Path="classes" Icon="account_circle"></RadzenMenuItem>
                    <RadzenMenuItem Text="Races" Path="races" Icon="line_weight"></RadzenMenuItem>
                    <RadzenMenuItem Text="Backgrounds" Path="backgrounds" Icon="attach_file"></RadzenMenuItem>
                    <RadzenMenuItem Text="Spells" Path="spells" Icon="perm_media"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="My Characters" Path="dashboard" Icon="account_box"></RadzenMenuItem>
                <RadzenMenuItem Text="Create Character" Path="createcharacter" Icon="save"></RadzenMenuItem>
                <RadzenProfileMenu Style="padding: 0; border: 0; margin-left: auto;">
                    <Template>
                        <RadzenGravatar Email="shuber0802@gmail.com">
                        </RadzenGravatar>
                    </Template>
                    <ChildContent>
                        <RadzenProfileMenuItem Text="My Account" Path="/Identity/Account/Manage" Icon="account_circle"></RadzenProfileMenuItem>
                        <form method="post" action="/Identity/Account/LogOut" style="background-color: #ff6d41">
                            <RadzenButton Text="Logout" type="submit" Style="width: 100%" Icon=""></RadzenButton>
                        </form>
                    </ChildContent>
                </RadzenProfileMenu>
            </RadzenMenu>
        </Authorized>
        <NotAuthorized>
            <RadzenMenu>
                <RadzenMenuItem Text="Game Rules" Icon="home">
                    <RadzenMenuItem Text="Classes" Path="classes" Icon="account_circle"></RadzenMenuItem>
                    <RadzenMenuItem Text="Races" Path="races" Icon="line_weight"></RadzenMenuItem>
                    <RadzenMenuItem Text="Backgrounds" Path="backgrounds" Icon="attach_file"></RadzenMenuItem>
                    <RadzenMenuItem Text="Spells" Path="spells" Icon="perm_media"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="Create Character" Path="Identity/Account/Login" Icon="save"></RadzenMenuItem>
                <RadzenButton Text="Login" Click="@(() => _navigationManager.NavigateTo("/Identity/Account/Login", true))" ButtonStyle="ButtonStyle.Warning" Style="margin-left: auto; margin-right: 1vw;"/>
                <RadzenButton Text="Sign Up" Click="@(() => _navigationManager.NavigateTo("/Identity/Account/Register", true))" ButtonStyle="ButtonStyle.Danger" Style="margin-right: 1vw;"/>
            </RadzenMenu>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu(){
        collapseNavMenu = !collapseNavMenu;
    }

}